name: CI
on:
  push:
    branches:
    - main
  pull_request:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: ".test-conda-env.yml"
          activate-environment: "test-conda-env"
          auto-activate-base: false
          auto-update-conda: true
      - name: Run ruff.
        run: ruff check
        shell: bash -l {0}

  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: ".test-conda-env.yml"
          activate-environment: "test-conda-env"
          auto-activate-base: false
          auto-update-conda: true
      - name: Install feinsum
        run: pip install .
        shell: bash -l {0}
      - name: Run mypy.
        run: mypy --show-error-codes --strict src/feinsum/
        shell: bash -l {0}

  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: ".test-conda-env.yml"
          activate-environment: "test-conda-env"
          auto-activate-base: false
          auto-update-conda: true
      - name: Install feinsum
        run: pip install .
        shell: bash -l {0}
      - name: Run pytest.
        run: |
          cd test
          pytest -v .
        shell: bash -l {0}

  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: ".test-conda-env.yml"
          activate-environment: "test-conda-env"
          auto-activate-base: false
          auto-update-conda: true
      - name: Install feinsum
        run: pip install .
        shell: bash -l {0}
      - name: Build docs.
        run: |
          cd doc
          make html SPHINXOPTS="-W --keep-going -n"
        shell: bash -l {0}
